.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-inner {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding: calc(var(--spacing-unit) * 10) calc(var(--spacing-unit) * 8) calc(var(--spacing-unit) * 16) calc(var(--spacing-unit) * 8);
    border-top: 1px solid rgba(56, 189, 248, 0.2); 
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 3);
    align-items: flex-start;
}

.footer-links {
    color: var(--text-link);
    text-decoration: none;
}

.footer-links:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}

.social-links a {
    margin-right: calc(var(--spacing-unit) * 4);
    color: var(--text-link);
    text-decoration: none;
}

.social-links a:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}

@media (max-width: 768px) {
    .footer-inner {
        padding: calc(var(--spacing-unit) * 10) 0 calc(var(--spacing-unit) * 16);
        align-items: center; 
        text-align: center;
    }
}