.nav-content {
    width: 100%;
    position: fixed;
    /* keeps it on screen while scrolling */
    left: 0;
    top: 0;
    background-color: var(--nav-bg);
    backdrop-filter: var(--nav-blur);
    /* border-right: 1px solid var(--border-color); */
    border-bottom: 1px solid rgba(56, 189, 248, 0.2);
    display: flex;
    justify-content: space-between;
    padding: .75rem 4.5rem;
    gap: 2.5rem;
    z-index: 100;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand a {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-primary);
}

.nav-brand a:hover {
    color: var(--text-link-hover);
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: var(--text-link-hover);
}

.nav-contacts {
    border-left: 1px solid var(--border-color);
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.nav-contacts a {
    padding: 0.5rem;
}