* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* :root {
    --bg-color: #0f172a;
    --text-primary: #bacde7;
    --text-secondary: #a6b7cf;
    --text-link: #419bc2;
    --text-link-hover: #5fcddb;
    --card-bg: #1e293b;
    --border-color: #334155;
} */

:root {
    --bg-color: #0f172a;
    --text-primary: #F8FAFC;
    --text-secondary: #a6b7cf;
    --text-link: #38BDF8;
    --text-link-hover: #7DD3FC;
    --card-bg: #1E293B;
    --border-color: #334155;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* intro */
.hero-section {
    text-align: center;
    padding: 14rem 0 10rem 0;
    /* background-color: #f4f4f4; */
    /* border-radius: 12px; */
    margin-bottom: 0px;
    background-image:
        linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.8)),
        url('/src/assets/hero_background.jpg');
    background-size: cover;
    background-position: 50% center;
    overflow: hidden;
}

.hero-section h1 {
    margin-bottom: .75rem;
}

h1 {
    font-size: 3rem;
}

.featured-projects {
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-projects h1 {
    padding-bottom: 2rem;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
}

.footer-section {
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    margin: 0rem 3rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links a {
    margin-right: 1rem;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}